#h1{
    color:white;
    font-size: 5rem;
    font-weight:bold;
    text-align: center;
}
#bg{
    background-color: red;
}

#tr{
    color: white;
    font-size:5rem;
    font-weight:bold;
}
