.flip-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 500px;
  
  perspective: 1000px;
  padding: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: black;
  color: black;
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.img {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 500px;
  display: block;
  margin: auto;
}

.h1 {
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.p {
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
